@model BusBoard.Web.ViewModels.BusInfo
@{
    ViewBag.Title = "Bus Information";
}

<h2>BusInfo</h2>

<div class="row">
   @{ 
       foreach (var s3 in Model.Strings)
       {
           <p>@s3</p>
       }


    }

    


</div>
